<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FoodApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeliveryBoyLogin</display-name>
    <servlet-name>DeliveryBoyLogin</servlet-name>
    <servlet-class>food.app.DeliveryBoyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryBoyLogin</servlet-name>
    <url-pattern>/DeliveryBoyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DishAdd</display-name>
    <servlet-name>DishAdd</servlet-name>
    <servlet-class>food.app.DishAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DishAdd</servlet-name>
    <url-pattern>/DishAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutedServlet</display-name>
    <servlet-name>ExecutedServlet</servlet-name>
    <servlet-class>food.app.ExecutedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutedServlet</servlet-name>
    <url-pattern>/ExecutedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>food.app.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaidServlet</display-name>
    <servlet-name>PaidServlet</servlet-name>
    <servlet-class>food.app.PaidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaidServlet</servlet-name>
    <url-pattern>/PaidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>food.app.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>food.app.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterVendor</display-name>
    <servlet-name>RegisterVendor</servlet-name>
    <servlet-class>food.app.RegisterVendor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterVendor</servlet-name>
    <url-pattern>/RegisterVendor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>food.app.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorLogin</display-name>
    <servlet-name>VendorLogin</servlet-name>
    <servlet-class>food.app.VendorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorLogin</servlet-name>
    <url-pattern>/VendorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>food.app.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>